body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  margin: 0;
}

/* Khung ngoài */
.container {
  padding: 25px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  margin: 60px auto;
  width: 420px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

/* Form */
form {
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
}

/* Tiêu đề */
#title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Nhóm form */
.form-group {
  margin-bottom: 15px;
}

/* Label */
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Input text, select, textarea */
.control,
select,
textarea {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  margin-top: 5px;
  font-size: 14px;
  transition: 0.3s;
}

/* Focus đẹp hơn */
.control:focus,
select:focus,
textarea:focus {
  border-color: #d41f25;
  outline: none;
  box-shadow: 0 0 6px rgba(212, 31, 37, 0.4);
}
/* Radio + checkbox nằm ngang */
.inline {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* Radio + checkbox không bị giãn */
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

/* Nút */
button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #4b59d4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover */
button:hover {
  background: #e03ce2;
}

/* Nút reset riêng */
button[type="reset"] {
  background: #05f3e3;
  margin-top: 10px;
}

button[type="reset"]:hover {
  background: #0bf107;
}
